In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("../data/europeancities-wikivoyage-tripadvisor/wikivoyage/q_a/cities_qa_merged.csv")
print(df.shape)
df.head()

(5285, 3)

,city,prompt,answer
0,Belgrade,What is Belgrade known for?,"Belgrade is known for its vibrant nightlife, h..."
1,Belgrade,What is the history of Belgrade?,Belgrade has a long history dating back to the...
2,Belgrade,What is the climate like in Belgrade?,Belgrade has a temperate continental climate w...
3,Belgrade,What are the people like in Belgrade?,Belgradians are known for their friendliness a...
4,Belgrade,How can I get to Belgrade by plane?,Belgrade Nikola Tesla Airport (BEG) is the mai...

In [18]:
len(df.city.unique())

159

In [19]:
df.city.value_counts()

city
Budapest        93
Adana           88
Santander       87
Dresden         69
Bordeaux        62
                ..
Kutaisi         21
Nev≈üehir        20
Thessaloniki    20
Milan           19
Dublin          16
Name: count, Length: 159, dtype: int64